@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    * {
        font-family: "Josefin Slab", serif;
        margin: 0px;
        padding: 0px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    body, html {
        background-color: #e3e5ed;
    }
    
    header {
        position: relative;
        background-image: url(../natacha.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto; /* Alterado para altura automática */
        min-height: 300px; /* Altura mínima do cabeçalho */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Alinha os itens verticalmente */
        text-align: center; /* Alinha o texto horizontalmente */
    }
    
    header > h1, header > h2 {
        padding: 3px;
        text-align: center;
        margin-top: 45px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
        color: #778fc7;
    }
    
    span#burguer {
        background-color: #a1abde;
        color: white;
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer; /*tornar-se maozinha quando passa o mouse */
    }
    
    span#burguer:hover {
        background-color: #778fc7;
        color: black;
    }
    
    menu {
        display: flex;
        justify-content: center;
        margin-top: auto; /* Faz com que o menu fique no final do cabeçalho */
    }
    
    menu > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    menu > ul > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: #778fc7;
        color: white;
        text-align: center;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.466);
        border-radius: 5px;
        transition: 0.5s;
    }
    
    menu > ul > li > a:hover {
        background-color: #778fc788;
    }
    
    main {
        flex: 1; /* Ocupa todo o espaço disponível */
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
        margin: 15px auto; /* Centraliza o main */
    }
    
    article > h2 {
        padding-bottom: 10px;
    }
    
    article > p {
        text-align: justify;
        margin-bottom: 20px;
        text-indent: 20px;
        padding: 20px;
    }
    
    .icon-and-text {
        display: flex;
        justify-content: flex-end; /* Alinha os itens à direita */
        align-items: center; /* Alinha verticalmente os itens */
        width: 100%; /* Para garantir que a div ocupe toda a largura disponível */
    }
    
    .material-symbols-outlined {
        margin-right: 10px; /* Adiciona um espaço à direita do ícone */
    }
    
    .bold {
        font-weight: bold;
    }
    
    .line {
        width: 100%;
        height: 10px; /* Altura da linha */
        background-color: rgb(255, 189, 48);
    }
    