@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    
    * {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        line-height: 1.6;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    body, html {
        background-color: #e3e5ed;
    }
    
    header {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto; /* Alterado para altura automática */
        min-height: 300px; /* Altura mínima do cabeçalho */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Alinha os itens verticalmente */
        text-align: center; /* Alinha o texto horizontalmente */
    }
    
    #pagina1 header {
        background-image: url(../natacha.jpg);
    }
    
    #pagina2 header {
        background-image: url(../bookcapa.jpg);
    }

    #pagina3 header {
        background-image: url(../capapubli.png);
    }

    #pagina4 header {
        background-image: url(../caparocinha.png);
    }

    header > h1 {
        text-align: center;
        margin-top: 90px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
        color: #fafbfd;
    }

    header > h2 {
        margin-bottom: 40px;
        padding: 15px;
        text-align: center;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
        color: #eaecf1;
    }
    
    span#burguer {
        background-color: #a1abde;
        color: white;
        position: relative;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center;
        padding: 10px;
        cursor: pointer; /*tornar-se maozinha quando passa o mouse */
        width: 100%;
        border-radius: 5px;
        }

    span#burguer:hover {
        background-color: #778fc7;
        color: rgb(255, 189, 48);
    }
    
    menu {
        display: none;
        justify-content: center;
        margin-top: auto; /* Faz com que o menu fique no final do cabeçalho */
        width: 100%;
    }
    
    menu > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    menu > ul > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: #778fc7;
        color: white;
        text-align: center;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.466);
        border-radius: 5px;
        transition: 0.5s;
        }
    
    menu > ul > li > a:hover {
        background-color: #778fc788;
    }
    
    main {
        width: 90vw;
        background-color: white;
        margin: auto;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
        margin: 15px auto; /* Centraliza o main */
    }

    #pagina3 main {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
        margin: 15px auto; /* Centraliza o main */
        display: flex; /* Ativa o modelo flexbox */
        flex-direction: column; /* Exibe os elementos em uma única coluna */
        text-align: left;
    }
    
    #pagina3 article > p {
        text-align: justify; /* Mantém o texto justificado dentro do artigo */
        margin-bottom: 0; /* Espaçamento entre os parágrafos */
        line-height: 1.6; /* Espaçamento entre as linhas */
        text-indent: 0px; /* Adiciona um recuo uniforme à esquerda de cada parágrafo */
    }
    
    #pagina4 main {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
        margin: 15px auto; /* Centraliza o main */
        display: flex; /* Ativa o modelo flexbox */
        flex-direction: column; /* Exibe os elementos em uma única coluna */
        text-align: left;
    }
    
    #pagina4 article > p {
        text-align: justify; /* Mantém o texto justificado dentro do artigo */
        margin-bottom: 0; /* Espaçamento entre os parágrafos */
        line-height: 1.6; /* Espaçamento entre as linhas */
        text-indent: 0px; /* Adiciona um recuo uniforme à esquerda de cada parágrafo */
    }
    
    
    article > h2 {
        padding-bottom: 10px;
    }
    
    article > p {
        text-align: justify;
        margin-bottom: 20px;
        text-indent: 20px;
        padding: 20px;
        font-weight: 100;
    }
    
    .icon-and-text {
        display: flex;
        justify-content: flex-end; /* Alinha os itens à direita */
        align-items: center; /* Alinha verticalmente os itens */
        width: 100%; /* Para garantir que a div ocupe toda a largura disponível */
    }

    #linklivro {
        text-decoration: none; /* Remove o sublinhado */
        color: black; 
    }
    
    
    .bold {
        font-weight: bold;
    }

    #titulo {
        font-weight: 300;
        color: rgb(58, 57, 57);
        font-weight: bold;
    }

    #tituloprincipal {
        color: rgb(0, 0, 0);
        font-size: 22px;
        font-weight: 100;
    }
    
    .line {
        width: 100%;
        height: 10px; /* Altura da linha */
        background-color: rgb(255, 189, 48);
    }

    #bemvindo {
        color: rgb(199, 196, 196);
    }

    #paragrafo {
        margin-left: 18px; /* Define uma margem menor à direita da imagem */
    }

    #foto {
        margin-bottom: 5px;
    }

    #linklivro:hover {
        color: rgb(255, 189, 48);
        font-weight: bold;
    }

    .link:hover {
        color: rgb(255, 189, 48);
        font-weight: bold;
    }

    .link > a:hover {
        color: rgb(255, 189, 48);
        font-weight: bold;
    } 

    .link > a {
        text-decoration: none; /* Remove o sublinhado */
        color: black;
    }

    .link {
        margin-bottom: 0;
    }

    /* Define a animação para a transição de entrada */
    @keyframes entrada {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Define a animação para a transição de saída */
    @keyframes saida {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  /* Aplica a animação nas páginas */
  .pagina {
    animation: entrada 0.3s ease-in-out forwards;
  }
  
  .pagina.saindo {
    animation: saida 0.3s ease-in-out forwards;
  }

  

  
    